.title {
    font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 160px;
    width: 50vh;
    color: white;
    font-size: 20px;
}

.pastBackgroundMobile {
  display: none;
}

.pastBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.role {
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .pastBackgroundMobile {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 30vh;
  }  
  
  .pastBackground {
      display: none;
    }

  .title {
    font-size: 30px;
  }
  
    .main {
      height: 60vh;
      width: 70vw;
      font-size: 11px;
      margin-left: 105px;
      -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(146, 66, 0);
   font-weight: bold;
    }

  .role {
        font-size: 15px;
    }
  }