h1 {
    font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 160px;
    width: 50vh;
    color: white;
    font-size: 20px;
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.role {
    font-weight: bold;
}