h1 {
    font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 160px;
    color: white;
    width: 50vw;
    font-size: 20px;
    font-weight: bold;

    -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.backgroundMobile {
  display: none;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
  }
  
  .backgroundMobile {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 30vh;
  }  
  
  .background {
      display: none;
    }

    .main {
      height: 55vh;
      width: 70vw;
      font-size: 15px;
      margin-left: 105px;
   font-weight: bold;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }