h1 {
    line-height: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 60vh;
  height: 100vh;
  margin-left: 50px;
  color: white;
  margin-left: 100px;
}

.splashImage {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90vh;
}

.name {
    font-size: 60px;
  }

  .role {
    font-size: 40px;
  }