h1 {
    line-height: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 60vh;
  height: 100vh;
  color: white;
  margin-left: 160px;
}

.splashImage {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.name {
    font-size: 60px;
  }

  .role {
    font-size: 40px;
  }