body {
    display: flex;
    flex-direction: column;
}

h1 {
    line-height: 0px;
}

.name {
    color: white;
    font-size: 60px;
    display: flex;
    margin-left: 100px;
  }

  .role {
    color: white;
    font-size: 40px;
    display: flex;
    margin-left: 100px;
  }