a {
    text-decoration: none;
    color: #803300;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2 ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:visited {
    color: #803300;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 243, 210);
}

a:hover {
    color: rgb(253, 188, 113);
    cursor: pointer;
}

a:focus { 
    text-decoration: none;
    color: #fce9dc;
 }

.bar {
    position: fixed;
    height: 100vh;
    width: 80px;
    background-color: rgb(255, 115, 0);
}

.icons {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #803300;
    text-decoration: none;
}

.homeIcon {
    width: 100px;
    height: 70px;
}

.aboutIcon {
    width: 100px;
    height: 70px;
}

.skillsIcon {
    width: 100px;
    height: 70px;
}

.pastIcon {
    width: 100px;
    height: 70px;
}

@media only screen and (max-width: 1200px) {
    .icons {
        height: 90vh;
    }
  }