html {
  background: url(./assets/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

@media only screen and (max-width: 1200px) {
  html {
      background: url(./assets/images/backgroundMobile.jpg) no-repeat center center fixed;
  }
}
