.title {
    color: white;
    text-align: left;
}

.profile {
    color: white;
    text-align: left;
    width: 400px;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 90vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 50vh;
    margin-left: 100px;
}